<nav class="navbar navbar-expand-lg  theme-nav fixed-top" [class.darkHeader]="darkHeader">
  <div class="container">
    <a class="navbar-brand"><img src="assets/images-new/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu" [ngbCollapse]="isMenuCollapsed" >
      <ul class="navbar-nav ml-auto" id="mymenu">
        <li class="nav-item ">
          <a class="nav-link" href="#home" [pageScrollOffset]="75" pageScroll>introduction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio" [pageScrollOffset]="75" pageScroll>portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" [pageScrollOffset]="75" pageScroll>contact us</a>
        </li>
      </ul>
    </div>
    <!-- <select-languages></select-languages> -->
  </div>
</nav>
