<!-- slider-section -->
<section class="slide-bg" id="home">
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="d-flex-1">
               <div class="slide-text">
                  <div>
                     <h1>The best way to build web applications is with
                        <span class="main-title">WebKing!</span>
                     </h1>
                     <ul>
                        <li class="check-item">
                           <img src="assets/images-new/crown1.png" alt="Crown" class="img-fluid">
                           <h4>Making your website responsible for all devices.</h4>
                        </li>
                        <li class="check-item">
                           <img src="assets/images-new/crown1.png" alt="Crown" class="img-fluid">
                           <h4>Making your website acccissible for everyone.</h4>
                        </li>
                        <li class="check-item">
                           <img src="assets/images-new/crown1.png" alt="Crown" class="img-fluid">
                           <h4>Fast and scaleble development with the hottest frontend frameworks available.</h4>
                        </li>
                        <li class="check-item">
                           <img src="assets/images-new/crown1.png" alt="Crown" class="img-fluid">
                           <h4>Reliable server and prefered database relation or NoSQL.</h4>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="home-right">
               <div class="mobile-slid">
                  <img src="assets/images-new/king.png" alt="King" class="img-fluid">
               </div>
               <div class="profile-msg">
                  <span class="img-fluid logo-express">Express</span>
               </div>
               <div class="awesome">
                  <figure class="awesome-figure">
                     <img src="assets/images-new/mongodb.png" alt="Mongo DB" class="img-fluid">
                  </figure>
               </div>
               <div class="profile-1">
                  <img src="assets/images-new/angular-bubble.png" alt="Angular" class="img-fluid">
               </div>
               <div class="emoji">
                  <img src="assets/images-new/sass.png" alt="Sass" class="img-fluid">
               </div>
               <div class="profile-2">
                  <img src="assets/images-new/react-bubble.png" alt="React" class="img-fluid">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end slider section -->