<!-- slider-section -->
<section class="slide-bg" id="home">
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="d-flex-1">
               <div class="slide-text">
                  <div>
                     <h1>The best way to build websites is with
                        <span class="main-title">WebKing!</span>
                     </h1>
                     <h4>Our developers will build for you professional websites with the most modern technologies.</h4>
                     <div class="slid-btn">
                        <a><img src="assets/images/app1.png" alt="app1" class="img-fluid" data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a>
                        <a><img src="assets/images/app2.png" alt="app2" class="img-fluid" data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="home-right">
               <div class="mobile-slid">
                  <img src="assets/images-new/king.png" alt="King" class="img-fluid">
               </div>
               <div class="profile-msg">
                  <span class="img-fluid logo-express">Express</span>
               </div>
               <div class="awesome">
                  <figure class="awesome-figure">
                     <img src="assets/images-new/mongodb.png" alt="Mongo DB" class="img-fluid">
                  </figure>
               </div>
               <div class="profile-1">
                  <img src="assets/images-new/angular-bubble.png" alt="Angular" class="img-fluid">
               </div>
               <div class="emoji">
                  <img src="assets/images-new/sass.png" alt="Sass" class="img-fluid">
               </div>
               <div class="profile-2">
                  <img src="assets/images-new/react-bubble.png" alt="React" class="img-fluid">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end slider section -->