.section-title img {
    filter: hue-rotate(120deg);
}
.monitor-container {
    position: relative;
    .monitor {
        width: 100%;
        position: sticky;
        z-index: 1;
        pointer-events: none;
    }
    .slider {
        position: absolute;
        top: 6.7%;
        left: 5.9%;
        width: 88%;
        ngu-tile {
            padding: 0;
            img {
                width: 100%;
            }
        }
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: 991px) {
        flex-direction: row;
    }
    .logo {
        text-align: center;
        margin: 10% 0;
        img {
            width: 80%;
            cursor: pointer;
            transition: 200ms ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .logo-niagara {
        @extend .logo;
        img {
            width: 70%;
        }
    }
}