<section id="portfolio" class="portfolio">

   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h2 >{{'portfolioTitle' | translate}}</h2>
               <img src="assets/images/title-line.png" alt="title-line" class="img-fluid">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8">
            <div class="monitor-container">
               <img class="monitor" src="assets/images-new/monitor.png" alt="Monitor">
               <div class="slider">
                   <ngb-carousel #carousel [interval]="1500" [pauseOnHover]="true" [showNavigationArrows]="false"  [showNavigationIndicators]="false">
                     <ng-template ngbSlide *ngFor="let img of selectedPortfolio.images">
                       <a [href]="selectedPortfolio.url" target="_blank" rel="nofollow noopener noreferrer">
                         <div class="picsum-img-wrapper">
                           <img [src]="img">
                         </div>
                       </a>
                     </ng-template>
                   </ngb-carousel>
               </div>
            </div>
         </div>
         <ul class="col-lg-4 logo-container">
            <li *ngFor="let company of companies" class="logo" (click)="showPortfolio(company)">
               <img [src]="getCompanyLogo(company)">
            </li>
         </ul>
      </div>
   </div>
</section>