<section id="portfolio" class="portfolio">

   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h2 >Our Work</h2>
               <img src="assets/images/title-line.png" alt="title-line" class="img-fluid">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8">
            <div class="monitor-container">
               <img class="monitor" src="assets/images-new/monitor.png" alt="Monitor">
               <div class="slider" (mouseenter)="setAutoplay(false)"
               (mouseleave)="setAutoplay(true)">
                  <ngu-carousel
                     #myCarousel
                     [inputs]="carouselTileConfig"
                     [dataSource]="selectedImages">
                     <ngu-tile *nguCarouselDef="let item">
                       <img class="tile" [src]="item"/>
                     </ngu-tile>
                   </ngu-carousel>
               </div>
            </div>
         </div>
         <ul class="col-lg-4 logo-container">
            <li class="logo" (click)="showPortfolio('elal')">
               <img src="assets/images-new/elal-logo.png">
            </li>
            <li class="logo" (click)="showPortfolio('proofpoint')">
               <img src="assets/images-new/proofpoint-logo.png">
            </li>
            <li class="logo-niagara" (click)="showPortfolio('niagara')">
               <img src="assets/images-new/niagara-logo.png">
            </li>
         </ul>
      </div>
   </div>
</section>