.lang-container {
    display: flex;
    margin-left: 2rem;
    @media(max-width: 991px) {
        margin-left: 0;
        justify-content: flex-end;
    }
    .lang {
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        color: #fff;
        cursor: pointer;
        border-right: 1px solid #fff;
        padding: 0 0.5rem;
        &:last-child {
            padding-right: 0;
            border-right: unset;
        }
        &.active, &:hover {
            color: rgba(255, 255, 255, 0.60);
        }
    }
}